<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" th:href="@{/authfonts/material-design-iconic-font/css/material-design-iconic-font.min.css}">

    <!-- STYLE CSS -->
    <link rel="stylesheet" th:href="@{/auth/css/style.css}">
</head>

<body>

<div class="wrapper" style="background-image: url('/auth/images/bg-registration-form-2.jpg');">
    <div class="inner">
        <form th:action="@{/auth/login}" method="post" th:object="${loginRequest}">
            <h3>Login Form</h3>
            <div class="form-wrapper">
                <label>Email</label>
                <input type="text" th:field="*{email}" class="form-control">
            </div>
            <div class="form-wrapper">
                <label>Password</label>
                <input type="password" th:field="*{password}" class="form-control">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> I accept the Terms of Use & Privacy Policy.
                    <span class="checkmark"></span>
                </label>
            </div>
            <button>Login</button>

            <div style="text-align: center; margin-top: 20px;">
                <p>Don't have an account? <a th:href="@{/pages/register}" style="color: #ae3c33; text-decoration: none;">Register here</a></p>
            </div>

        </form>
    </div>
</div>

</body>
</html>